* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

#left {
    background-color: #000000;
    height: 100vh;
    width: 16vw;
}

#right {
    display: flex;
    flex-direction: column;
}

#top {
    background-color: #101010;
    height: 9vh;
    width: 84vw;
}

#bottom {
    background-color: #1d1d1d;
    height: 91vh;
    width: 84vw;
}